/* SEARCH BAR */
.search-container {
  width: 60%;
  margin: 1.6rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#search-bar {
  width: 100%;
  height: 4.8rem;
  border-radius: 4rem;
  padding: 1.2rem 2.4rem;
  border: var(--border-strong) solid 0.2rem;
  font-size: 1.6rem;
  background: var(--search-background);
  color: var(--search-text);
}

.search-container svg {
  position: absolute;
  width: auto;
  height: 3rem;
  right: 2.4rem;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--search-text);
  cursor: pointer;
}

.search-results {
  width: 100%;
  max-height: 60vh;
  position: absolute;
  top: 4.8rem;
  background: var(--search-background);
  padding: 1.2rem;
  border-radius: 0.4rem;
  box-shadow: var(--shadow) 0px 3px 8px;
  overflow-y: auto;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.8rem;
}

::-webkit-scrollbar {
  width: 10px; /* vertical scrollbar width */
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--base-variant); /* scrollbar track color */
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent-color); /* scrollbar thumb color */
  border-radius: 8px;
  border: 0.2rem solid var(--base-variant); /* adds spacing around thumb */
}

#search-bar::placeholder {
  color: var(--search-text);
}

.search-wrapper {
  display: flex;
  flex-direction: column;
}

/* JOBS SECTION */

.jobs {
  margin-bottom: 4.8rem;
}

.latest-jobs,
.all-jobs,
.related-jobs {
  display: flex;
  gap: 1.6rem;
  flex-wrap: wrap;
  justify-content: center;
}

.search-results .card-container {
  width: 100%;
}

.search-results .card-container p {
  font-size: 1.8rem;
}

.card-container {
  width: calc(50% - 0.8rem);
  padding: 0.8rem 1.6rem;
  font-size: 1.5rem;
  border: solid 0.15rem var(--border-strong);
  cursor: pointer;
  border-radius: 0.25rem;
  text-decoration: none;
  flex-wrap: 1;
}

.card-link {
  text-decoration: none;
}

.card-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}

.card-title p {
  font-weight: 500;
}

.card-container .description p {
  font-size: 1.6rem;
  color: var(--text-color);
}

.related-articles .card-container .card p {
  margin-bottom: 0;
}

.card-container img {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  border-radius: 0.4rem;
  align-self: flex-start;
}

.card.news-card {
  width: 100%;
  border: none;
  padding: 0.4rem;
}

.card.news-card.search-card {
  display: flex;
  flex-direction: column;
}

.card.news-card.search-card .header {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 1rem;
  align-items: center !important;
  justify-content: center;
}

.card.news-card.search-card .header .headline {
  margin-bottom: 0;
}

.card.news-card.search-card .header img {
  width: 8rem;
  height: auto;
  aspect-ratio: 1/1;
  align-self: center;
}

.card.news-card:hover {
  box-shadow: none;
}

.card-container:hover {
  box-shadow: var(--shadow) 0px 2px 8px;
}

.card-container p {
  font-size: 2rem;
  margin-bottom: 1.6rem;
  color: var(--card-title);
  flex: 2;
}

.card-container p.headline,
.card-container p.content {
  color: var(--text-color);
}

.card-container p.headline {
  font-weight: 500;
}

.card-container p.content {
  font-size: 1.6rem;
}

.card-container .card.news-card img {
  width: 100%;
  border-radius: 0.4rem;
  height: auto;
}

.dates {
  display: flex;
  justify-content: space-between;
  color: var(--secondary-text);
}

.dates .start {
  text-align: left;
}

.dates .last {
  text-align: right;
}

.dates .start .green {
  color: var(--green);
  font-weight: 500;
}

.dates .last .red {
  color: var(--red);
  font-weight: 500;
}

.more {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.more a {
  background: var(--accent-color);
  color: #f8fafc;
  padding: 0.8rem 1.6rem;
  font-size: 1.8rem;
  text-decoration: none;
  border-radius: 0.2rem;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 3.2rem;
  margin-bottom: 3.2rem;
}

.pagination div {
  font-size: 2rem;
  background: #fff;
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  box-shadow: 0 2px 4px #00000024, 0 4px 5px #0000001f, 0 1px 10px #0003;
  transition: 0.4s;
  cursor: pointer;
  font-weight: 700;
}

.pagination div:hover {
  transform: scale(1.15);
}

.pagination div a {
  text-decoration: none;
}

.pagination div:hover a {
  color: var(--accent-color);
}

.pagination .disable:hover a {
  color: var(--footer-text);
}

.pagination .disable a {
  cursor: not-allowed;
  color: var(--footer-text);
}

.pagination .disable {
  background: var(--base-variant);
  cursor: not-allowed;
}

.pagination .disable:hover {
  transform: scale(1);
  color: var(--secondary-text);
}
